.table-custom {
  margin-top: 50px;
  width: auto;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.table-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
